<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> 
        <ion-icon name="caret-forward-circle-outline"></ion-icon>  
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>


<img src="https://i.pinimg.com/originals/c6/2d/e9/c62de9b181fe55512517166b86ba7599.png">




</ion-content>
